.Header-container {
  display: flex;
  justify-content: center;
  width: 100%
}

.Header-container h2 {
	background-color: #FBFBFF;
  color: #0B4F6C;
	padding: 20px;
	margin: 0px;
  width: 100%;
	height: 100%;
 	text-align: center; 
  align-items: center;
  font-family: 'Source Code Pro';
  letter-spacing: .18em;
}


@media only screen and (max-width: 720px) {


  .Header-container h2 {
    font-size: 1em;
  }
}